#editor {
    position: relative;
    width: 600px;
    height: 800px;
    border: 1px solid #aaa;
    background: #f5f5f5;
}

.node {
    box-sizing: border-box;
    cursor: pointer;
}

.node.selected {
    outline: 2px solid #007acc;
}

#editor-viewport {
    position: relative;
    width: 100%;
    height: 800px;
    border: 1px solid #aaa;
    overflow: hidden; /* hide overflow for pan */
    background: #f5f5f5;
    cursor: grab;
}

#editor {
    position: absolute; /* we will transform this */
    top: 0;
    left: 0;
    transform-origin: 0 0; /* origin at top-left for scaling */
}
