/* output.css */
#output {
    position: fixed;
    top: 0;
    right: 0;
    width: 420px;
    background: #111;
    color: #0f0;
    font-size: 11px;
    overflow: auto;
    height: calc(100% - 80px);       /* full window height  - margins and toolbar*/
    transition: width 0.2s, opacity 0.2s;
    z-index: 5;
    margin: 0;
    padding: 10px;
}